<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list style="width: 200px">
      <mat-list-item>
        <mat-label>Age</mat-label>
        <mat-select (valueChange)="ageChanged($event)" [(value)]="selectedAge" matNativeControl>
          <mat-option value="{{ages.all}}">{{ages.all}}</mat-option>
          <mat-option value="{{ages['0 - 20']}}">{{ages['0 - 20']}}</mat-option>
          <mat-option value="{{ages['20 - 40']}}">{{ages['20 - 40']}}</mat-option>
          <mat-option value="{{ages['40+']}}">{{ages['40+']}}</mat-option>
        </mat-select>
      </mat-list-item>
      <mat-list-item>
        <mat-label>Gender</mat-label>
        <mat-select [(value)]="selectedGender" matNativeControl>
          <mat-option value="{{genders.all}}">{{genders.all}}</mat-option>
          <mat-option value="{{genders.man}}">{{genders.man}}</mat-option>
          <mat-option value="{{genders.woman}}">{{genders.woman}}</mat-option>
        </mat-select>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <div class="row">
        <mat-toolbar class="toolbar">
          <mat-icon style="cursor: pointer" (click)="sidenav.toggle()">{{sidenav.opened ? "close" : "menu"}}</mat-icon>
          <mat-button-toggle-group [value]="currentEmotion" (change)="emotionChanged($event)" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="{{emotions.happy}}">Happy</mat-button-toggle>
            <mat-button-toggle value="{{emotions.angry}}">Angry</mat-button-toggle>
            <mat-button-toggle value="{{emotions.sad}}">Sad</mat-button-toggle>
            <mat-button-toggle value="{{emotions.fear}}">Fear</mat-button-toggle>
            <mat-button-toggle value="{{emotions.disgust}}">Disgust</mat-button-toggle>
            <mat-button-toggle value="{{emotions.surprise}}">Surprise</mat-button-toggle>
            <mat-button-toggle value="{{emotions.neutral}}">Neutral</mat-button-toggle>
            <mat-button-toggle value="{{emotions.all}}">All</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-slide-toggle (change)="displayModeChanged($event)">3D</mat-slide-toggle>
        </mat-toolbar>
      </div>
      <div class="row highchart-container">
        <highcharts-chart
          #chart
          style="width: 100%; height: 100%; display: block;"
          [Highcharts]="Highcharts"

          [constructorType]="chartConstructor"
          [options]="chartOptions"
          [callbackFunction]="chartCallback"

          [(update)]="updateFlag"
          [oneToOne]="oneToOneFlag"
          [runOutsideAngular]="false"

        ></highcharts-chart>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
